<div class="container">
    <div>
        <h1> {{ question }} </h1>
    </div>

    <form method="post" action="/answer">
        <button name="oui" type="submit">Oui</button>
        <button name="non" type="submit">Non</button>
    </form>

</div>